<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="refresh" content="0; URL=https://manual.koalasampler.com/">
  <meta property="og:image" content="https://manual.koalasampler.com/assets/og-img.png">
  {%- seo -%}
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
  />
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  {%- if site.google_analytics -%}
    {%- include google-analytics.html -%}
  {%- endif -%}

  {%- include custom-head.html -%}
</head>
