
{% if page.collection %}
    {% assign chapters = site[page.collection] | sort: 'order' %}
{% else %}
    {% assign chapters = site.mobile | sort: 'order' %}
{% endif %}

{% assign counter = 0 %}

{{half_count}}

{% assign total_iterations = 0 %}

{% for chapter in chapters %}
{% unless chapter.url contains 'chapters' %}
{% unless chapter.hidden == true %}
{% assign total_iterations = total_iterations | plus: 1 %}
{% endunless %}
{% endunless %}
{% endfor %}

{% assign half_count = total_iterations | divided_by: 2 | floor %}

<div class="documentation-items-wrapper">
  <div id="documentation-items" class="documentation-items row">

    {% for chapter in chapters %}

    {% unless chapter.url contains 'chapters' %}

    {% unless chapter.hidden == true %}

    {% assign counter = counter | plus: 1 %}

    {% if counter == 1 %}
    <div class="col-md-6">
      {% endif %}

      <div class="documentation-item" data-page-url="{{ chapter.url | relative_url }}">
        <a class="root-section" href="{{ chapter.url | relative_url }}">
            {{chapter.order}}. {{ chapter.title }}
        </a>
      </div>

      {% if counter == half_count %}
    </div>
    <div class="col-md-6">
      {% endif %}

      {% if counter.last %}
    </div>
    {% endif %}


    {% endunless %}

    {% endunless %}

    {% endfor %}
  </div>
</div>



<script>
    $(document).ready(function () {
  
      //region get chapters submenu
      $('.documentation-item').each(function () {
        const pageUrl = $(this).data('page-url');
        const pageUrlWithoutSlash = pageUrl.replace(/^\//, '');
        const pageUrlFormat = pageUrlWithoutSlash.replace(/[./-]/g, '_');
  
  
        const currentItem = this;
        const loaderElement = $('<div class="loader">Loading...</div>').appendTo(this);
  
        function updateContent(newContent) {
          localStorage.setItem(pageUrlFormat + '_content', newContent);
          $(currentItem).append(newContent);
        }
  
        function fetchContent() {
          $.ajax({
            url: pageUrl,
            method: 'GET',
            success: function (data) {
              loaderElement.remove();
  
              const h2Items = $(data).find('h2');
              if (h2Items.length > 0) {
                const titles = h2Items.map(function () {
                  const id = $(this).attr('id');
                  const content = $(this).text();
                  return {id: id, content: content};
                }).get();
  
                const listHtml = '<ul class="documentation-item-nav">' +
                  titles.map(item => `<li><a href="${pageUrl}#${item.id}">${item.content}</a></li>`).join('') +
                  '</ul>';
  
                const storedContent = localStorage.getItem(pageUrlFormat + '_content');
  
                if (listHtml !== storedContent) {
                  updateContent(listHtml);
                }
              }
            },
            error: function () {
              loaderElement.remove();
              console.error(`Failed to fetch content for ${pageUrl}`);
            }
          });
        }
  
        const storedContent = localStorage.getItem(pageUrlFormat + '_content');
  
        if (storedContent) {
          $(this).append(storedContent);
          loaderElement.remove();
          fetchContent(); // Fetch in the background to check for updates
        } else {
          fetchContent();
        }
      });
  
  //endregion
  
    });
  </script>
  