---
layout: base
---

<div class="home">
  <h3>Welcome to the Koala Sampler Manual!</h3>

  <p>
    Congrats on your new Koala Sampler! This versatile, easy-to-use
    app is designed to bring creativity and fun right to your fingertips,
    whether you're a seasoned musician or just starting out.
  </p>
  <p>
In this manual, you'll find everything you need to start
  creating music with your Koala Sampler. We'll guide you through the basics of
  setting up your device, navigating the interface, and making your first
  sounds. 
</p>
  {%- include toc.html -%}

</div>
