---
layout: base
---

<div class="home">
  <div class="row gy-5">
    <div class="col-md-6">
      <div class="home-documentation-item">
        <a href="{{ '/mobile/' | relative_url }}">
          <div class="home-documentation-item-image">
            <img height="400" src="{{ site.baseurl }}/assets/images/phone.png" alt="Mobile Documentation" class="">
          </div>
          <div class="home-documentation-item-title">
            Mobile Documentation
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="home-documentation-item">
        <a href="{{ '/tablet/' | relative_url }}">
          <div class="home-documentation-item-image">
            <img height="400" src="{{ site.baseurl }}/assets/images/tablet/tablet.png" alt="Tablet Documentation" class="">
          </div>
          <div class="home-documentation-item-title">
            Tablet Documentation
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
