---
layout: base
---

<div class="home">
    <center><img src="/assets/images/justkoala.svg" style="height: 12em;margin-bottom: 1em" /></center>
  <!-- <h3>Welcome to the Koala Sampler Manual!</h3> -->
  <p>
    Congrats on your new Koala Sampler! This manual will help you 
    learn about both the basics and more advanced features. It's 
    a work in progress so if you have any feedback, please get in 
    touch <a href="https://www.koalasampler.com/contact/">here</a>.
    If you'd like to contribute, you can do so via <a href="https://github.com/elf-audio/koala-documentation">GitHub</a>
</p>
<hr /> 
 {%- include toc.html -%}
 <hr />
 <h2>Credits:</h2>
     <p>
         <strong>Author:</strong> Nikolai Sokolov aka Baer of Sidechain<br />
         <strong>Layout:</strong> Alex Aleksandrov<br />
         <strong>Coding:</strong> Stas Pyshevski<br />
         <strong>URL:</strong> <a href="https://metawork.studio">metawork.studio</a>
     </p>
 
</div>
